{% extends '/base.html.twig' %}
{% block head %}
    {{ parent() }}
    {% block javascripts %}
        <script src="{{ asset('js/editUser.js') }}"></script>
    {% endblock %}
{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}
{% block body %}
    <div class="container">
        <a href="{{ path('user_profile') }}"><button>Profile</button></a>
        <a href="{{ path('user_security_centre') }}"><button>Security Centre</button></a>
        <a href="{{ path('user_addresses') }}"><button>Addresses</button></a>
        <a href="{{ path('user_orders') }}"><button>My Orders</button></a>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn btn-primary">Submit</button>
        {{ form_end(form) }}
    </div>
{% endblock %}

