{% extends 'base.html.twig' %}

{% block title %}Order Management{% endblock %}
{% block stylesheets %}
    {{ parent() }}
    <style>
        button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="example-wrapper">
        <a href="{{ path('user_profile') }}"><button>Profile</button></a>
        <a href="{{ path('user_security_centre') }}"><button>Security Centre</button></a>
        <a href="{{ path('user_addresses') }}"><button>Addresses</button></a>
        <a href="{{ path('user_orders') }}"><button>My Orders</button></a>

        <table class="table table-striped">
            <thead>
            <tr>
                <th>ID</th>
                <th>Date</th>
                <th>Amount</th>
                <th>Address</th>
                <th>Payment Method</th>
                <th>Status</th>
            </tr>
            </thead>
            <tbody>
            {% for order in orders %}
                <tr>
                    <td>{{ order.id }}</td>
                    <td>{{ order.orderDate|date('Y-m-d H:i:s') }}</td>
                    <td>{{ order.totalAmount }}</td>
                    <td>{{ order.deliveryAddress }}</td>
                    <td>{{ order.paymentMethod }}</td>
                    <td>{{ order.status.value }}</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="8">No orders found.</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
