{% extends '/base.html.twig' %}

{% block stylesheets %}
    {{ parent() }}
    <style>
        button {
            display: inline-block;
            padding: 10px 20px;
            margin: 5px;
            color: white;
            background-color: #007bff;
            text-decoration: none;
            border-radius: 5px;
            border: none;
            cursor: pointer;
        }

        button:hover {
            background-color: #0056b3;
        }
    </style>
{% endblock %}

{% block body %}
    <div class="container">
        <a href="{{ path('user_profile') }}"><button>Profile</button></a>
        <a href="{{ path('user_security_centre') }}"><button>Security Centre</button></a>
        <a href="{{ path('user_addresses') }}"><button>Addresses</button></a>
        <a href="{{ path('user_orders') }}"><button>My Orders</button></a>

        {{ form_start(form) }}
        {{ form_row(form.email) }}
        {{ form_row(form.password.first, {
            'attr': {
                'minlength': 8,
                'pattern': '(?=.*[0-9])(?=.*[a-zA-Z]).{8,}',
                'title': 'Your password must be at least 8 characters long and contain both letters and numbers.',
                'required': true
            }
        }) }}
        {{ form_row(form.password.second, {
            'attr': {
                'minlength': 8,
                'required': true
            }
        }) }}
        <button class="btn btn-primary">Save changes</button>
        {{ form_end(form) }}

        <a href="{{ path('user_deactivate') }}" class="btn btn-danger mt-5">Deactivate Account</a>

    </div>
{% endblock %}
